# -----------------------------------------------------------------------------
# NextAuth: https://shipfa.st/docs/tutorials/user-auth
# -----------------------------------------------------------------------------
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=udbFqBxoSxYxPVJ6v2QrdXpiYiT3En5g
AUTH_TRUST_HOST=http://localhost:3000

# -----------------------------------------------------------------------------
# Google OAuth: https://shipfa.st/docs/features/google-oauth
# -----------------------------------------------------------------------------
GOOGLE_ID=
GOOGLE_SECRET=

# -----------------------------------------------------------------------------
# Resend: https://shipfa.st/docs/features/emails
# -----------------------------------------------------------------------------
RESEND_API_KEY=

# -----------------------------------------------------------------------------
# Database URI: https://shipfa.st/docs/features/database
# -----------------------------------------------------------------------------
MONGODB_URI=

# -----------------------------------------------------------------------------
# Stripe: https://shipfa.st/docs/features/payments
# -----------------------------------------------------------------------------
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# -----------------------------------------------------------------------------
# Vercel Webhook: https://vercel.com/docs/observability/webhooks
# -----------------------------------------------------------------------------
VERCEL_WEBHOOK_SECRET=

# -----------------------------------------------------------------------------
# Admin Panel
# -----------------------------------------------------------------------------
NEXT_PUBLIC_ADMIN_PASSWORD=